<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CashflowService_User" value="cashflow"/>
    <add key="CashflowService_Pass" value="1234"/>
    <add key="Sissa_user" value="2462"/>
    <add key="Sissa_pass" value="aLeMaNia*01"/>
    <add key="Sissa_terminal" value="02"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ConexionCentral" connectionString="Data Source=sissa.southcentralus.cloudapp.azure.com; Initial Catalog=SBDSIS; User ID=sissa;Password=$1ss@2020" providerName="System.Data.SqlClient" />
    <add name="ConexionCajerosEmpresariales" connectionString="Data Source=sissa.southcentralus.cloudapp.azure.com; Initial Catalog=db_SISSA_CASHFLOW_CE; User ID=sissa;Password=$1ss@2020" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="10240" />
    <globalization uiCulture="es" culture="es-MX" />
  </system.web>
  <system.serviceModel>    
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" maxBytesPerRead="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICajerosEmpresariales2" />
        <binding name="BasicHttpsBinding_ICajerosEmpresariales2">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.sissaseguridad.com/WsCajerosEmpresariales/WsCajerosEmpresariales.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICajerosEmpresariales2"
        contract="WsCajerosEmpresariales.ICajerosEmpresariales" name="BasicHttpsBinding_ICajerosEmpresariales" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Cashflow.Web.Service.ServiceAuthenticator, Cashflow.Web.Service"/>
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
